* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: #7ba7ab;
  font-family: 'Open Sans';
}
div {
  padding: 30px 0;
}
form {
  position: relative;
  width: 300px;
  margin: 0 auto;
}
.container {
  background: #7ba7ab;
}

.container form {
  width: auto;
  float: left;
  margin-left: 100px;
}
.container input {
  width: 250px;
  height: 42px;
  padding-left: 15px;
  border-radius: 2px;
  border: 2px solid rgb(58, 108, 114);
  background: #f9f0da;
  outline: none;
  position: relative;
  transition: 0.3s linear;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}
.container input:focus {
  width: 600px;
}

.search_result {
  position: absolute;
  width: 600px;
  top: 20%;
  left: 100px;
  border-radius: 2px;
  border: 1.5px solid rgb(58, 108, 114);
  background: #f9f0da;
  padding: 0px;
  z-index: 9999;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  font-size: 14px;
  font-weight: 700;
}

.card-info {
  display: inline-flex;
  width: 100%;
  grid-template-columns: 220px 220px;
  align-items: stretch;
  padding: 15px;
}

.card-title {
  text-align: center;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 28px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card-image {
  width: 100%;
}

.card-describe {
  height: 220px;
}
.card-describe .card-text {
  width: 200px;
  margin-bottom: 4px;
  text-align: left;
  font-size: 14px;
  font-weight: 10;
  line-height: 2;
  letter-spacing: 0.06em;
}
.card-list {
  text-align: left;
  padding-left: 25px;
}

.card-item {
  font-weight: 10;
  font-size: 13px;
}

.brighttheme-text {
  display: block;
  background-color: hsl(0, 89%, 63%);
  text-align: center;
  padding: 20px;
  width: 300px;
  color: hsl(120, 91%, 57%);
  font-size: 12px;
  font-weight: 10;
}
