:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: inline-block;
  width: 100%;
  text-align: center;
  /* justify-content: center;
  align-items: flex-start; */
  min-height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
  background-color: rgba(238, 231, 231, 0.986);
  color: #212121;
}

.container-result {
  width: 100%;
}

.gallery {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.photo-card {
  height: 100%;
  width: 100%;
  cursor: pointer;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.photo-card:hover {
  transform: scale(1.03);
}

.stats {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  background-color: #d3cdcd;
}
.stats-item {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  line-height: 1;
}

.material-icons {
  margin: 2px;
}

input {
  width: 500px;
  padding-left: 26px;
  padding: 10px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

input.input:focus {
  outline: none !important;
  border-color: #719ece;
  border: 1px solid red;
  box-shadow: 1px 1px 2px 0 #a9a9c0;
}

form.search-form {
  position: relative;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 35px;
  border-radius: 2px;
}

form.search-form:before {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  /* background-image: url(http://getbootstrap.com/2.3.2/assets/img/glyphicons-halflings.png); */
  background-position: -48px 0;
  position: absolute;
  top: 11px;
  right: 11px;
  opacity: 0.5;
  z-index: 1000;
}

.load {
  margin: 30px auto 10px;
  display: table;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  color: rgb(82, 77, 77);
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 0 15px 4px rgb(0 0 0 / 6%);
}

.load:hover {
  transform: scale(1.03);
  border-radius: 4px;
}

.is-hidden {
  display: none;
}

.material-icons {
  font-size: 14px;
}
